{% extends 'base.html' %}

{% block title %} Product Type {% endblock %}

{% block content %}

<h2>Product Type</h2>

{% for type in type %}
    <p>Name: {{type.name}}</p>
    <p>Description: {{type.description}}</p>
    <br>
{% endfor %}

<hr/>

{% if not isBuyer %}
    <h1>Register a new product type</h1>
    <form action='/product/product_type/' method='POST'>
        {% csrf_token %}
        {{form.as_ul}}
        <input type='submit' value='Submit'>
    </form>
    <hr/>
{% endif %}

{% endblock %}
