{% extends 'base.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% block title %} cart {% endblock %}

{% block content %}

<h1> Cart </h1>

<div class="shopping-cart" onload="recalculateCart()">
    <div class="column-labels">
        <label class="product-details">Product</label>
        <label class="product-price">Price</label>
        <label class="product-quantity">Quantity</label>
        <label class="product-removal">Remove</label>
        <label class="product-line-price">Total</label>
    </div>

    {% for product in products %}
        <div class="product">
            <div class="product-details">
                <div class="product-title">
                    {{product.name}}
                </div>
                <div class="product-description">
                    {{product.description}}
                </div>
            </div>
            <div class="product-price">
                {{product.price}}
            </div>
            <div class="product-quantity">
                <input type="number" value="1" min="1">
            </div>
            <div class="product-removal">
                <button class="remove-product">
                    Remove
                </button>
            </div>
            <div class="product-line-price">50.00</div>
        </div>
    {% endfor %}
    <div class="totals">
        <div class="totals-item">
            <label>Subtotal</label>
            <div class="totals-value" id="cart-subtotal">71.97</div>
        </div>
        <div class="totals-item">
            <label>Tax (9.5%)</label>
            <div class="totals-value" id="cart-tax">3.60</div>
        </div>
        <div class="totals-item">
            <label>Shipping</label>
            <div class="totals-value" id="cart-shipping">5.00</div>
        </div>
        <div class="totals-item totals-item-total">
            <label>Grand Total</label>
            <div class="totals-value" id="cart-total">90.57</div>
        </div>
    </div>
    <form method="POST" action="auth/purchases/">
        {% csrf_token %}
        <button type="submit" class="checkout">Checkout</button>
        <input type="hidden" name='cart_id' value='{{ cart.id }}'>
    </form>
</div>

{% endblock %}
