{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block content %}

<h1>About Us</h1>

<h2>Our Company</h2>
<p>
    ComPart is the worldwide leader in computer parts e-retail. We are operating in over
    100 countries across Europe, Asia, Africa, North America, and South America. Founded today, ComPart
    is consistently rated as the #1 online destination to purchase compurter parts.
</p>
<h2>Our Mission</h2>
<p>
    ComPart is all about putting the customer as our first priority. We provide customers
    with a complete and comprehensive overview of every computer part to aid their purchasing decisions.
    Customer feedback and satisfaction are the two main drivers of ComPart.
</p>
{% endblock %}