{% extends 'base.html' %}

{% block title %} Contact Us {% endblock %}

{% block content %}

<h1>Contact Us</h1>

<p>
    Customer feedback is greatly appreciated. Please let us know if you have any questions or concerns.
</p>

<form method='POST', action='contact'>
    Phone: <input type='text' name='phone'><br><br>
    Email: <input type='text' name='email'><br><br>
    Feedback: <br>
    <textarea rows='5' cols='80'></textarea><br><br>
    <input type='submit' value='Submit'>
</form>

{% endblock %}